.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.task-params .params {
  /*display: inline-block;*/
}

.selected-task {
  padding: 4px;

}

.selected-task .delete {
  cursor: pointer;
}

.text-lg {
  font-size: 150%;
}

.text-warning {
  color: #ff8205!important;
}

.btn-primary {
  background-color: #809dba!important;
  border-color: #809dba!important;
}

/* Gray (Bootstrap's text-secondary)
.btn-primary {
  background-color: #6c757d!important;
  border-color: #6c757d!important;
}

.text-primary {
  color: #6c757d!important;
}
*/
