.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

label.task-params-select {
  margin-left: 20%;
}

select.task-params-select {
  width: 30%;
  margin-left: 20%;
}
