div.word-list {
  background-color: #eeeeee;
  padding: 6px;
  width: 100%;
  position: relative;
  min-height: 210px;
  margin-bottom: 12px;
}

div.word-list span {
  font-size: 22px;
  width: 260px;
  float: left;
}

.modal-title {
  display: inline-block;
  margin: 0 auto;
}

#guess-history {
  margin-top: 160px;
  table-layout: fixed;
}

.spacer {
  min-height: 42px;
}

#warning {
  display: none;
}
