div.inst h3,
div.inst ol li{
  margin-bottom: 24px;
}

div.word-list {
  background-color: #eeeeee;
  padding: 6px;
  width: 100%;
  position: relative;
  min-height: 210px;
  margin-bottom: 12px;
}

div.word-list span {
  font-size: 22px;
  width: 260px;
  float: left;
}

.modal-title {
  display: inline-block;
  margin: 0 auto;
}

#guess-history {
  margin-top: 120px;
  table-layout: fixed;
  font-size: 14px;
}

.spacer {
  min-height: 42px;
}

#warning {
  display: none;
}

/* Cryptography */

#hypothesis {
  width: 100%;
  position: relative;
  clear: both;
  margin-bottom: 18px;
}

#hypothesis select,
#hypothesis span,
#guess-full-mapping select {
  width: 64px;
  display: inline-block;
  margin-bottom: 12px;
}

#guess-full-mapping span {
  width: 36px;
  display: inline-block;
  margin-bottom: 12px;
}

#answers {
  margin-top: 12px;
}

#mapping-list span {
  /*background-color: #f8f9fa;*/
  float: left;
  clear: both;
  font-weight: bold;
}

/* Team Role Task */

td.blank {
  background-color: #fff;
  border: 0;
}

td.desc {
  background-color: #fff;
}

th.key {
  rgba(0,0,0,.05);
  border-right: 1px solid #cccccc;
  font-size: 80%;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
      translate(-2px, 200px)
      rotate(270deg);
  width: 30px;
}

th.rotate > div > span {
  padding: 5px 10px;
}



td.input {
  border: 1px solid #e9ecef;
}

td.input input {
  margin-left: -0.25rem!important;
}

/* Big Five */

form#big-five-form th.rotate {
  height: 200px;
  white-space: nowrap;
}

form#big-five-form th.rotate > div {
  transform:
        translate(20px, 160px)
        rotate(270deg);
  width: 30px;
}

/* Memory */
.target-img {
  width: 460px;
  height: auto;
}

.memory-img {
  width: 646px;
  height: auto;
}

.target-word {
  height: 200px;
}

.word-choices, .story-choices {
  margin-top: 64px;
}

.word-choices label {
  font-size: 150%;
}

.word-choices input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.no-selection {
  display: none;
}

.timer {
  font-size: 150%;
}

/* Eyes */
img.eyes {
  width: 524px;
  height: auto;
}

/* Shapes */
img.img-fluid {
  max-width: 40%!important;
}
